{% extends "default/index.html.jinja2" %}

{% block title %}Hello World{% endblock %}

{% block nav %}
    <input type="search" placeholder="Search..." role="searchbox" aria-label="search"
                   pattern=".+" required>
    <h2>Available Modules</h2>
    <ul>
        {% for submodule in all_modules if "." not in submodule and not submodule.startswith("_") %}
            <li><a href="{{ submodule.replace(".","/") }}.html">{{ submodule }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <main class="pdoc">

    {% filter to_html %}
# Hello World!
This is a test page with Markdown contents.
    {% endfilter %}
    <strong>You can also write plain HTML here!</strong>

    </main>
    {% include "search.html.jinja2" %}
{% endblock %}